// Remove all jQuery Mobile Text shadow shenanegans
html{
	height: 100%;
}

html, body, .ui-header, .ui-title, .footer, form, input, label {
	text-shadow: none !important;
	height: auto;
}

//mobile base styles

.top img {
	float: right;
	margin: 5px;
	opacity: .5;
}

#logo {
	position: absolute;
	max-width: 35px;
	margin: 5px 5px 2px 5px;
	opacity: 1;
}

br {
	clear: both;
}

.diet {
	float: left;
	margin: 5px;
}

img{
  max-width: 100%;
}

.searchbar, .barcode{
	background-color: $gather-dark;
	padding: 30px;
	margin: -20px -20px 0 -20px;
	box-shadow: 0 1px 2px #222222;
}

.searchbar{
	position: relative;
  	z-index: 1;
}

form h2, .barcode h2 {
	margin-top: -10px;
	color: white;
}

//scan page 

.barcode p {
	color: white;
	text-align: center;
}

.scan {
	background-color: white;
	padding: 30px;
	border-radius: 5px;
}

//product styles

.product h3{
	color: $gather-accent;
	font-weight: 400;
}

.product-single {
	padding: 15px;
	margin: 10px;
	background-color: white;
	border-radius: .3em;
	border-bottom-style: outset;
	border-width: 2px;
	overflow: auto;

	h4{
	margin-top: 0;
	font-size: 1.5em;
	margin-bottom: -10px;
	}

	h5 {
	font-size: 1.5em;
	margin-bottom: -10px;
	}
	
	img{
	float:left;
	margin: -10px 0 0 -10px;
	padding-right: 1em;
	}
}

#left-side{
	float: left;
	width: 30%;
}

#right-side{
	margin-top: -40px;
	float: right;
}

//map styles

#storemap img{
	max-width: none;
}


//footer styles

.footer{
	background-color: $gather-dark !important;
	height: 50px;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	padding-left: 5px;
}

.footer p {
  font-weight: 400;
  text-align: center;
}
