// Remove all jQuery Mobile Text shadow shenanegans
html{
	height: 100%;
}

html, body, .ui-header, .ui-title, .footer, form, input, label, .searchbar, .barcode, h4, h5, h6, h3, h2, h1 {
	text-shadow: none !important;
	height: auto;
}

body{
	font-size: 50%;
}

//mobile base styles

.top img {
	float: right;
	margin: 5px;
	opacity: .5;
}

#logo {
	position: absolute;
	max-width: 35px;
	margin: 5px 5px 2px 5px;
	opacity: 1;
}

br {
	clear: both;
}

.diet {
	float: left;
	margin: 5px;
}

img{
  max-width: 100%;
}

.searchbar, .barcode{
	background-color: $gather-dark;
	padding: 30px;
	margin: -20px -20px 0 -20px;
	@include card(2);
}

.searchbar{
	position: relative;
  	z-index: 1;
}

.searchbar h2, .barcode h2 {
	margin-top: -10px;
	color: white;
}

label{
	font-size: 0.5em;
}

//refine search active number
#act{
	position: absolute;
	z-index: 2;
	left: 76%;
	margin-top: 11px;
}

//scan page 

.barcode p {
	color: white;
	text-align: center;
	font-weight: 100;
}

.scan {
	background-color: white;
	padding: 30px;
	border-radius: 5px;
	@include card(1);
}

//product styles

.product{
	h3{
	color: $gather-accent;
	font-weight: 400;
	} 
	a{
	text-decoration: none;
	color: $gather-accent !important;
	}
	a:hover, a:focus{
		color: lighten($gather-accent, 10%) !important;
	}
}

.product-single {
	padding: 15px;
	margin: 0 -15px 0 -15px;
	background-color: white;
	border-bottom: 1px solid $gather-neutral;
	overflow: auto;
	transition: 0.5s ease;

	h4{
	margin-top: 0;
	font-size: 1.3em;
	margin-bottom: -10px;
	}

	h5 {
	font-size: 1.3em;
	margin-bottom: -10px;
	}
	
	img{
	float:left;
	margin: 0;
	padding-right: 1em;
	}
}

.product-single:hover{
	@include card(3);
}

.product-page{
	padding: 15px;
	margin: 10px;
	background-color: white;
	border-radius: .3em;
	overflow: auto;

	img{
	float:left;
	margin: -10px 0 0 -10px;
	padding-right: 1em;
	max-width: 70%;
	}
	h4{
		margin-top: -8px;
		font-size: 1.5em;
		margin-bottom: -10px;
	}
	h5{
		font-size: 1.3em;
		margin-bottom: -10px;
		margin-top: 0px;
	}
}

#left-side{
	float: left;
	width: 30%;
}

#right-side{
	margin-top: -40px;
	float: right;
}

//map styles

#storemap img{
	max-width: none;
}


//footer styles

.footer{
	background-color: $gather-light !important;
}

.footer a{
	border: none;
	box-shadow: none;
	margin-left: 1%;
}

.footer img{
	max-width: 30%;
	margin-top: -2px;
}
