// small mobile devices max-width: 515px


//products
.product-single img{
	max-width: 40%;
	float: left;
}

#left-side{
	width: 35%;
	font-size: 80%;
}

#right-side{
	//clear: both;
	//float: left;
	margin-top: -30px;
	font-size: 70%;
	line-height: 20px;

	a{
		margin-top: 25px;
	}
}

//footer