// small mobile devices max-width: 515px

//products
.product-single img{
	max-width: 30%;
	float: left;
}

#left-side{
	width: 30%;
	font-size: 85%;
}

#right-side{
	margin-top: -30px;
	font-size: 90%;
	line-height: 20px;

	a{
		margin-top: 25px;
	}
}

//footer