// buttons yo
.searchbar{
	input{
	text-shadow: none !important;
	}
}

#search{
	h3{
	text-shadow: none !important;
	}
}

.select{
	text-shadow: none !important;
}

#rightside a{
	text-shadow: none !important;
}

//back next product buttons


//footer buttons

.footer .ui-btn{
	width: 25%;
	text-shadow: none !important;
}

#current{
	color: white;
	border: none;
	background-color: darken($gather-dark, 5%);
	box-shadow: none;
}